@{
    ViewData["Title"] = "Home Page";
}

<body class="home page-template-default page page-id-126 wp-custom-logo theme-illdy woocommerce-js  pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="pace-overlay"></div>
    <header id="header" class="header-front-page" style="background-image: url(https://colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-header.jpg);background-attachment: fixed;">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-8">
                        <a href="https://colorlib.com/illdy" title="Illdy Theme Demo">
                            <img class="header-logo-img" src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/03/cropped-footer-logo-1.png" width="">
                        </a>
                    </div>
                    <div class="col-sm-8 col-xs-4">
                        <nav class="header-navigation">
                            <ul id="menu-illdy-main" class="clearfix">
                                <li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-16"><a href="https://colorlib.com/illdy/#about" aria-current="page">About</a></li>
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17"><a href="https://colorlib.com/illdy/#projects" aria-current="page">Portfolio</a></li>
                                <li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18"><a href="https://colorlib.com/illdy/#testimonials" aria-current="page">Testimonials</a></li>
                                <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-19"><a href="https://colorlib.com/illdy/#services" aria-current="page">Services</a></li>
                                <li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-20"><a href="https://colorlib.com/illdy/#latest-news" aria-current="page">Blog</a></li>
                                <li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-22"><a href="https://colorlib.com/illdy/#team" aria-current="page">Our Team</a></li>
                                <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23"><a href="https://colorlib.com/illdy/#contact-us" aria-current="page">Contact Us</a></li>
                            </ul>
                        </nav>
                        <button class="open-responsive-menu"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="responsive-menu">
            <ul>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-16"><a href="https://colorlib.com/illdy/#about" aria-current="page">About</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17"><a href="https://colorlib.com/illdy/#projects" aria-current="page">Portfolio</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18"><a href="https://colorlib.com/illdy/#testimonials" aria-current="page">Testimonials</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-19"><a href="https://colorlib.com/illdy/#services" aria-current="page">Services</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-20"><a href="https://colorlib.com/illdy/#latest-news" aria-current="page">Blog</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-22"><a href="https://colorlib.com/illdy/#team" aria-current="page">Our Team</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-23"><a href="https://colorlib.com/illdy/#contact-us" aria-current="page">Contact Us</a></li>
            </ul>
        </nav>
        <div class="bottom-header front-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Clean<span class="span-dot">.</span>Slick<span class="span-dot">.</span>Pixel Perfect</h1>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="section-description">lldy is a great one-page theme, perfect for developers and designers but also for someone who just wants a new website for his business. Try it now!</div>
                        <a href="https://colorlib.com/wp/themes/illdy/" title="Learn more" class="header-button-one">Learn more</a>
                        <a href="https://colorlib.com/wp/themes/illdy/" title="Download" class="header-button-two">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="front-page-section" style="">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>About</h3>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="section-description">It is an amazng one-page theme with great features that offers an incredible experience. It is easy to install, make changes, adapt for your business. A modern design with clean lines and styling for a wide variety of content, exactly how a business design should be. You can add as many images as you want to the main header area and turn them into slider.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div id="illdy_skill-2" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_skill"><div class="skill" data-skill-progress-bar-width="60" data-skill-color="#f18b6d"><div class="skill-top clearfix"><div class="skill-progress-bar ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="60"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 60%; background-color: rgb(241, 139, 109);"><span class="ui-progressbar-value-circle" style="background-color: #f18b6d"></span><span class="ui-progressbar-value-top" style="background-color: #f18b6d">60%<span class="ui-progressbar-value-triangle" style="border-top-color: #f18b6d; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;"></span></span></div></div></div><div class="skill-bottom" style="color: rgb(241, 139, 109);"><i class="fa fa-font"></i><span>Typography</span></div></div></div><div id="illdy_skill-3" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_skill"><div class="skill" data-skill-progress-bar-width="82" data-skill-color="#f1d204"><div class="skill-top clearfix"><div class="skill-progress-bar ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="82"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 82%; background-color: rgb(241, 210, 4);"><span class="ui-progressbar-value-circle" style="background-color: #f1d204"></span><span class="ui-progressbar-value-top" style="background-color: #f1d204">82%<span class="ui-progressbar-value-triangle" style="border-top-color: #f1d204; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;"></span></span></div></div></div><div class="skill-bottom" style="color: rgb(241, 210, 4);"><i class="fa fa-pencil"></i><span>Design</span></div></div></div><div id="illdy_skill-4" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-0 widget_illdy_skill"><div class="skill" data-skill-progress-bar-width="86" data-skill-color="#6a4d8a"><div class="skill-top clearfix"><div class="skill-progress-bar ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="86"><div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 86%; background-color: rgb(106, 77, 138);"><span class="ui-progressbar-value-circle" style="background-color: #6a4d8a"></span><span class="ui-progressbar-value-top" style="background-color: #6a4d8a">86%<span class="ui-progressbar-value-triangle" style="border-top-color: #6a4d8a; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent;"></span></span></div></div></div><div class="skill-bottom" style="color: rgb(106, 77, 138);"><i class="fa fa-code"></i><span>Development</span></div></div></div>
                </div>
            </div>
        </div>
    </section>
    <section id="projects" class="front-page-section" style="
">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Projects</h3>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="section-description">You'll love our work. Check it out!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container-fluid">
                <div class="row inline-columns">
                    <div id="illdy_project-3" class="col-sm-3 col-xs-6 no-padding widget_illdy_project"><a href="https://google.com" title="[Illdy] - Project" class="project" data-fancybox="gallery" style="background-image: url(&quot;https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/03/front-page-project-4.jpg&quot;); height: 268px;"><span class="project-overlay"></span></a></div><div id="illdy_project-4" class="col-sm-3 col-xs-6 no-padding widget_illdy_project"><a href="https://colorlib.com/illdy/" title="[Illdy] - Project" class="project" data-fancybox="gallery" style="background-image: url(&quot;https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/03/front-page-project-3.jpg&quot;); height: 268px;"><span class="project-overlay"></span></a></div><div id="illdy_project-5" class="col-sm-3 col-xs-6 no-padding widget_illdy_project"><a href="#" title="[Illdy] - Project" class="project" data-fancybox="gallery" style="background-image: url(&quot;https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/03/front-page-project-2.jpg&quot;); height: 268px;"><span class="project-overlay"></span></a></div><div id="illdy_project-6" class="col-sm-3 col-xs-6 no-padding widget_illdy_project"><a href="https://colorlib.com/illdy/" title="[Illdy] - Project" class="project" data-fancybox="gallery" style="background-image: url(&quot;https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/03/front-page-project-1.jpg&quot;); height: 268px;"><span class="project-overlay"></span></a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials" class="front-page-section" style="
">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Testimonials</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 no-padding">
                        <div class="testimonials-carousel owl-carousel-enabled owl-carousel owl-theme owl-loaded">

                            <div class="owl-stage-outer">
                                <div class="owl-stage" style="transform: translate3d(-1616px, 0px, 0px); transition: all 0s ease 0s; width: 6464px;">
                                    <div class="owl-item cloned" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-4" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/Aigars-Silkalns-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and awesome&nbsp;support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from. You can customize whatever section you want and you can rest assure that no matter what device your website is viewed on – it looks great.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>Aigars Silkalns</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-5" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/redhead-1123645_960_720-1-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and helpful support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from. You can customize whatever section you want and you can rest assure that no matter what device your website is viewed on – it looks great.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>Jane Smith</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item active" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-2" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/mike-muller-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and awesome&nbsp;support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>Mike Muller</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-3" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/hombre-joven-cara-alegre-estudiante-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and awesome&nbsp;support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>John Doe</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-4" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/Aigars-Silkalns-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and awesome&nbsp;support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from. You can customize whatever section you want and you can rest assure that no matter what device your website is viewed on – it looks great.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>Aigars Silkalns</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-5" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/redhead-1123645_960_720-1-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and helpful support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from. You can customize whatever section you want and you can rest assure that no matter what device your website is viewed on – it looks great.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>Jane Smith</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-2" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/mike-muller-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and awesome&nbsp;support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>Mike Muller</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-item cloned" style="width: 808px; margin-right: 0px;">
                                        <div id="illdy_testimonial-3" class="widget_illdy_testimonial">
                                            <div class="carousel-testimonial">
                                                <div class="testimonial-image">
                                                    <img src="https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/hombre-joven-cara-alegre-estudiante-127x127.jpg">
                                                </div>
                                                <div class="testimonial-content">
                                                    <blockquote><q>Awesome theme with great design and awesome&nbsp;support. If you don’t know how to code your own WordPress theme, but you still want a good-looking website for your business, Illdy might be exactly what you need. It is a slick theme with a lot of of features to choose from.</q></blockquote>
                                                </div>
                                                <div class="testimonial-meta">
                                                    <h6>John Doe</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><button class="owl-dot active"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button><button class="owl-dot"><span></span></button></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="front-page-section">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Services</h3>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="section-description">In order to help you grow your business, our carefully selected experts can advise you in in the following areas:</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row inline-columns">
                    <div id="illdy_service-2" class="col-sm-4 widget_illdy_service"><div class="service" data-service-color="#f18b6d"><div class="service-icon" style="color: rgb(241, 139, 109);"><i class="fa fa-pencil"></i></div><div class="service-title" style="color: rgb(241, 139, 109);"><h5>Web Design</h5></div><div class="service-entry">Consectetur adipiscing elit. Praesent molestie urna hendrerit erat tincidunt tempus. Aliquam a leo risus. Fusce a metus non augue dapibus porttitor at in mauris. Pellentesque commodo...</div></div></div><div id="illdy_service-3" class="col-sm-4 widget_illdy_service"><div class="service" data-service-color="#f1d204"><div class="service-icon" style="color: rgb(241, 210, 4);"><i class="fa fa-code"></i></div><div class="service-title" style="color: rgb(241, 210, 4);"><h5>WEB DEVELOPMENT</h5></div><div class="service-entry">Consectetur adipiscing elit. Praesent molestie urna hendrerit erat tincidunt tempus. Aliquam a leo risus. Fusce a metus non augue dapibus porttitor at in mauris. Pellentesque commodo...</div></div></div><div id="illdy_service-4" class="col-sm-4 widget_illdy_service"><div class="service" data-service-color="#6a4d8a"><div class="service-icon" style="color: rgb(106, 77, 138);"><i class="fa fa-search"></i></div><div class="service-title" style="color: rgb(106, 77, 138);"><h5>SEO Analisys</h5></div><div class="service-entry">Consectetur adipiscing elit. Praesent molestie urna hendrerit erat tincidunt tempus. Aliquam a leo risus. Fusce a metus non augue dapibus porttitor at in mauris. Pellentesque commodo...</div></div></div>
                </div>
            </div>
        </div>
    </section>
    <section id="latest-news" class="front-page-section">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Latest News</h3>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="section-description">If you are interested in the latest articles in the industry, take a sneak peek at our blog. You have nothing to loose!</div>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://colorlib.com/illdy/blog-2/" title="See blog" class="latest-news-button"><i class="fa fa-chevron-circle-right"></i>See blog </a>
        <div class="section-content">
            <div class="container">
                <div class="row blog-carousel">
                    <div class="illdy-blog-post col-md-4 col-sm-6 col-xs-12">
                        <div class="post" style="
								">
                            <div class="post-image" style="background-image: url('https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/photo-1449168013943-3a15804bb41c-360x213.jpg');"></div>
                            <h5><a href="https://colorlib.com/illdy/we-have-made-illdy-theme-seo-friendly/" title="We Have Made Illdy Theme SEO Friendly" class="post-title">We Have Made Illdy Theme SEO Friendly</a></h5>
                            <div class="post-entry">
                                Illdy One Page WordPress theme is fully SEO friendly and is ready to help you to achieve the highest rankings…
                            </div>
                            <a href="https://colorlib.com/illdy/we-have-made-illdy-theme-seo-friendly/" title="Read more" class="post-button"><i class="fa fa-chevron-circle-right"></i>Read more </a>
                        </div>
                    </div>
                    <div class="illdy-blog-post col-md-4 col-sm-6 col-xs-12">
                        <div class="post" style="
								">
                            <div class="post-image" style="background-image: url('https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/photo-1450101215322-bf5cd27642fc-360x213.jpg');"></div>
                            <h5><a href="https://colorlib.com/illdy/stunning-one-page-wordpress-theme-masses/" title="Stunning One Page WordPress Theme For Masses" class="post-title">Stunning One Page WordPress Theme For Masses</a></h5>
                            <div class="post-entry">
                                This theme is not just free, it is free for private and commercial use since it is licensed under GPL…
                            </div>
                            <a href="https://colorlib.com/illdy/stunning-one-page-wordpress-theme-masses/" title="Read more" class="post-button"><i class="fa fa-chevron-circle-right"></i>Read more </a>
                        </div>
                    </div>
                    <div class="illdy-blog-post col-md-4 col-sm-6 col-xs-12">
                        <div class="post" style="
								">
                            <div class="post-image" style="background-image: url('https://colorlib.com/illdy/wp-content/uploads/sites/11/2016/02/photo-1447687643809-e05fd462f350-360x213.jpg');"></div>
                            <h5><a href="https://colorlib.com/illdy/hello-world/" title="Hello world!" class="post-title">Hello world!</a></h5>
                            <div class="post-entry">
                                Welcome to colorlib.com. This is our&nbsp;first post around Illdy WordPress theme. Now show that you can make out of it.…
                            </div>
                            <a href="https://colorlib.com/illdy/hello-world/" title="Read more" class="post-button"><i class="fa fa-chevron-circle-right"></i>Read more </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="counter" class="front-page-section" style="background-image: url(https://colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-counter.jpg);background-color:#000000;">
        <div class="counter-overlay"></div>
        <div class="container">
            <div class="row inline-columns">
                <div id="illdy_counter-4" class="col-sm-4 col-xs-12 widget_illdy_counter"><span class="counter-number" data-from="1" data-to="260" data-speed="2000" data-refresh-interval="100">260</span><span class="counter-description">Projects</span></div><div id="illdy_counter-3" class="col-sm-4 col-xs-12 widget_illdy_counter"><span class="counter-number" data-from="1" data-to="120" data-speed="2000" data-refresh-interval="100">120</span><span class="counter-description">Clients</span></div><div id="illdy_counter-2" class="col-sm-4 col-xs-12 widget_illdy_counter"><span class="counter-number" data-from="1" data-to="260" data-speed="2000" data-refresh-interval="100">260</span><span class="counter-description">Coffes</span></div>
            </div>
        </div>
    </section>
    <section id="team" class="front-page-section">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Team</h3>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="section-description">Meet the people that are going to take your business to the next level.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row inline-columns">
                    <div id="illdy_person-5" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 widget_illdy_person"><div class="person clearfix" data-person-color="#f18b6d"><div class="person-image"><img src="https://cdn.colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-team-1.jpg" alt="Mark Lawrance" title="Mark Lawrance"></div><div class="person-content"><h6>Mark Lawrance</h6><p class="person-position" style="color: rgb(241, 139, 109);">Web Designer</p><p>Creative, detail-oriented, always focused.</p><ul class="person-content-social clearfix"><li><a href="#" title="Facebook" target="_blank" rel="nofollow" style="border-color: rgb(241, 139, 109); color: rgb(241, 139, 109);"><i class="fa fa-facebook"></i></a></li><li><a href="#" title="Twitter" style="border-color: rgb(241, 139, 109); color: rgb(241, 139, 109);"><i class="fa fa-twitter" target="_blank" rel="nofollow"></i></a></li><li><a href="#" title="LinkedIn" style="border-color: rgb(241, 139, 109); color: rgb(241, 139, 109);"><i class="fa fa-linkedin" target="_blank" rel="nofollow"></i></a></li></ul></div></div></div><div id="illdy_person-4" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 widget_illdy_person"><div class="person clearfix" data-person-color="#f1d204"><div class="person-image"><img src="https://cdn.colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-team-2.jpg" alt="Jane Stenton" title="Jane Stenton"></div><div class="person-content"><h6>Jane Stenton</h6><p class="person-position" style="color: rgb(241, 210, 4);">SEO Specialist</p><p>Curious, tech-geeck and gets serious when it comes to work.</p><ul class="person-content-social clearfix"><li><a href="#" title="Facebook" target="_blank" rel="nofollow" style="border-color: rgb(241, 210, 4); color: rgb(241, 210, 4);"><i class="fa fa-facebook"></i></a></li><li><a href="#" title="Twitter" style="border-color: rgb(241, 210, 4); color: rgb(241, 210, 4);"><i class="fa fa-twitter" target="_blank" rel="nofollow"></i></a></li><li><a href="#" title="LinkedIn" style="border-color: rgb(241, 210, 4); color: rgb(241, 210, 4);"><i class="fa fa-linkedin" target="_blank" rel="nofollow"></i></a></li></ul></div></div></div><div id="illdy_person-2" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 widget_illdy_person"><div class="person clearfix" data-person-color="#6a4d8a"><div class="person-image"><img src="https://cdn.colorlib.com/illdy/wp-content/themes/illdy/layout/images/front-page/front-page-team-3.jpg" alt="John Smith" title="John Smith"></div><div class="person-content"><h6>John Smith</h6><p class="person-position" style="color: rgb(106, 77, 138);">Developer</p><p>Enthusiastic, passionate with great sense of humor.</p><ul class="person-content-social clearfix"><li><a href="#" title="Facebook" target="_blank" rel="nofollow" style="border-color: rgb(106, 77, 138); color: rgb(106, 77, 138);"><i class="fa fa-facebook"></i></a></li><li><a href="#" title="Twitter" style="border-color: rgb(106, 77, 138); color: rgb(106, 77, 138);"><i class="fa fa-twitter" target="_blank" rel="nofollow"></i></a></li><li><a href="#" title="LinkedIn" style="border-color: rgb(106, 77, 138); color: rgb(106, 77, 138);"><i class="fa fa-linkedin" target="_blank" rel="nofollow"></i></a></li></ul></div></div></div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact-us" class="front-page-section">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Contact us</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row" style="margin-bottom: 45px;">
                            <div class="col-sm-4">
                                <div class="contact-us-box">
                                    <div class="box-left" data-customizer="box-left-address-title">
                                        Address
                                    </div>
                                    <div class="box-right">
                                        <span class="box-right-row" data-customizer="contact-us-address-1">Street 221B Baker Street, </span>
                                        <span class="box-right-row" data-customizer="contact-us-address-2">London, UK</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="contact-us-box">
                                    <div class="box-left" data-customizer="box-left-customer-support-title">
                                        Customer Support
                                    </div>
                                    <div class="box-right">
                                        <span class="box-right-row">E-mail: <a href="mailto:contact@site.com" title="contact@site.com">contact@site.com</a></span>
                                        <span class="box-right-row" data-customizer="contact-us-phone">Phone: (555) 555-5555</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="contact-us-social">
                                    <a href="https://twitter.com/colorlib" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.facebook.com/colorlib" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div role="form" class="wpcf7" id="wpcf7-f128-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                            <form action="/illdy/#wpcf7-f128-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init" data-wpzerospam="protected">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="128">
                                    <input type="hidden" name="_wpcf7_version" value="5.3">
                                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f128-o1">
                                    <input type="hidden" name="_wpcf7_container_post" value="0">
                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                </div>
                                <p>
                                    <label>
                                        Your Name (required)<br>
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Your Email (required)<br>
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false"></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Subject<br>
                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Your Message<br>
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                    </label>
                                </p>
                                <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
                                <div class="wpcf7-response-output" aria-hidden="true"></div><input type="hidden" name="wpzerospam_key" value="dF%fAdUQpCr3gm2!Luz&amp;sofxMDUjmv88g#znpc$ZK&amp;g!DZmR$oSf(qKOho^2VYWp">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="text-5" class="widget widget_text">
                        <div class="widget-title"><h5>PRODUCTS</h5></div> <div class="textwidget"><ul><li><a href="#" title="Our work">Our work</a></li><li><a href="#" title="Club">Club</a></li><li><a href="#" title="News">News</a></li><li><a href="#" title="Announcement">Announcement</a></li></ul></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="text-6" class="widget widget_text">
                        <div class="widget-title"><h5>INFORMATION</h5></div> <div class="textwidget"><ul><li><a href="#" title="Pricing">Pricing</a></li><li><a href="#" title="Terms">Terms</a></li><li><a href="#" title="Affiliates">Affiliates</a></li><li><a href="#" title="Blog">Blog</a></li></ul></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div id="text-7" class="widget widget_text">
                        <div class="widget-title"><h5>SUPPORT</h5></div> <div class="textwidget"><ul><li><a href="#" title="Documentation">Documentation</a></li><li><a href="#" title="FAQs">FAQs</a></li><li><a href="#" title="Forums">Forums</a></li><li><a href="#" title="Contact">Contact</a></li></ul></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                </div>
            </div>
        </div>
    </footer>
    <div class="bottom-footer">
        <div class="container">
            <p class="copyright">
                <span>Theme: <a href="https://colorlib.com/wp/themes/illdy" title="Illdy" target="_blank">Illdy</a>.</span>
                <span class="bottom-copyright" data-customizer="copyright-credit">© Copyright 2017. All Rights Reserved.</span>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })()
    </script>
    <script type="text/javascript" id="contact-form-7-js-extra">
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/colorlib.com\/illdy\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "cached": "1" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.3" id="contact-form-7-js"></script>
    <script type="text/javascript" id="wpzerospam-js-extra">
        /* <![CDATA[ */
        var wpzerospam = { "key": "dF%fAdUQpCr3gm2!Luz&sofxMDUjmv88g#znpc$ZK&g!DZmR$oSf(qKOho^2VYWp" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/zero-spam/assets/js/wpzerospam.js?ver=4.10.2" id="wpzerospam-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/zero-spam/integrations/contact-form-7/js/cf7.js?ver=4.10.2" id="wpzerospam-integration-cf7-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70" id="jquery-blockui-js"></script>
    <script type="text/javascript" id="wc-add-to-cart-js-extra">
        /* <![CDATA[ */
        var wc_add_to_cart_params = { "ajax_url": "\/illdy\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/illdy\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "https:\/\/colorlib.com\/illdy\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=4.6.1" id="wc-add-to-cart-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4" id="js-cookie-js"></script>
    <script type="text/javascript" id="woocommerce-js-extra">
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/illdy\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/illdy\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.6.1" id="woocommerce-js"></script>
    <script type="text/javascript" id="wc-cart-fragments-js-extra">
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/illdy\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/illdy\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_6b721fc11f5a6195a2d76f95698cbf72", "fragment_name": "wc_fragments_6b721fc11f5a6195a2d76f95698cbf72", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=4.6.1" id="wc-cart-fragments-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4" id="jquery-ui-core-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4" id="jquery-ui-widget-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-includes/js/jquery/ui/progressbar.min.js?ver=1.11.4" id="jquery-ui-progressbar-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/bootstrap/bootstrap.min.js?ver=3.3.6" id="illdy-bootstrap-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/owl-carousel/owl-carousel.min.js?ver=2.0.0" id="illdy-owl-carousel-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/count-to/count-to.min.js?ver=5.5.1" id="illdy-count-to-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/visible/visible.min.js?ver=5.5.1" id="illdy-visible-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/parallax/parallax.min.js?ver=1.0.16" id="illdy-parallax-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/plugins.min.js?ver=1.0.16" id="illdy-plugins-js"></script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-content/themes/illdy/layout/js/scripts.js?ver=1.0.16" id="illdy-scripts-js"></script>
    <script type="text/javascript" id="illdy-scripts-js-after">
        if (jQuery('.blog-carousel > .illdy-blog-post').length > 3) { jQuery('.blog-carousel').owlCarousel({ 'items': 3, 'loop': true, 'dots': false, 'nav': true, 'navText': ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'], responsive: { 0: { items: 1 }, 480: { items: 2 }, 900: { items: 3 } } }); }
    </script>
    <script type="text/javascript" src="https://colorlib.com/illdy/wp-includes/js/wp-embed.min.js?ver=5.5.1" id="wp-embed-js"></script>

</body>


